body{
	text-align: center;
	background-color: #F5FFFA;
	color:#FFF;
}

strong{
	font-weight: 500;
}

h1{
	margin-top: 10px;
	font-size: 38px;
	font-weight: 100;
	line-height: 50px;
}

.btn{
	font-size: 20px;
}

.contenedorTextoFormulario{
	margin-bottom: 60px;
}

.contenedorContenidoDebajoDelNav{
	margin-top: 200px;
}

.anchoFormularioInicioSesion{
	width: 50%;
}

.encabezadoTablas{
	font-weight: 500;
}

a:link {
	color: white;
	text-decoration: none;
}
a:hover {
	color: white;
	text-decoration: none;
}
a:visited {
	color: white;
	text-decoration: none;
}

.alinearVerticalmente{
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.separarDivs{
	padding: 20 px;
}