<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Cuentas </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Trabajo práctico D.D.S.: Cómo Invierto">
    <meta name="author" content="Grupo 6">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="Formatos.css">
  </head>
  <body>

    <div class= "container-fluid bg-dark fixed-top">
      <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
        <a class="navbar-brand" href="Index.html">Cómo Invierto</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/">Cerrar sesión</a>
            <a class="nav-item nav-link" href="Cuentas.html">Cuentas</a>
            <a class="nav-item nav-link" href="Indicadores.html">Indicadores</a>
            <a class="nav-item nav-link" href="Metodologías.html">Metodologías</a>
          </div>
        </div>
      </nav>
    </div>

	<div class="row contenedorContenidoDebajoDelNav">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="bg-dark table-responsive">
            <table class="table table-bordered table-hover">
		 <thead class="thead-default">
			<tr>
				<th>Periodo<i class="fa fa-fw fa-sort"></i></th>
				<th>ebitda<i class="fa fa-fw fa-sort"></i></th>
				<th>fds<i class="fa fa-fw fa-sort"></i></th>
				<th>fCashFlow<i class="fa fa-fw fa-sort"></i></th>
				<th>ingreso neto continuo<i class="fa fa-fw fa-sort"></i></th>
				<th>ingreso neto discontinuo<i class="fa fa-fw fa-sort"></i></th>
				<th>deuda<i class="fa fa-fw fa-sort"></i></th>
			</tr>
		</thead>
		{{#each cuentas}}
		<tr>
		<td>{{cuentas.periodoVinculado.anio}}</td>
			<td>{{ebitda}}</td>
			<td>{{fds}}</td>
			<td>{{fCashFlow}}</td>
			<td>{{ingNetoOpCont}}</td>
			<td>{{ingNetoOpDiscont}}</td>
			<td>{{deuda}}</td>
		</tr>
		{{/each}} 

	</table>
	</div>
    </div>
    

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 alinearVerticalmente">
          <ul class="list-group">
            <a href="#" class="list-group-item text-center bg-dark"> América Móvil </a>
            <a href="#" class="list-group-item text-center bg-dark"> Berkshire Hathaway </a>
            <a href="#" class="list-group-item text-center bg-dark"> General Electric </a>
          </ul>
      </div>
    </div>
 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>